*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
}

.container{
    height: 300px;
    width: 500px;
    background-color: #0274BD;
    margin: auto;
    margin-top: 100px;
    padding: 50px;
}


.container .header{
    display: flex;
    justify-content: space-between;
}

.container .header div:nth-child(1){
    display: flex;
    flex-direction: column;
}

.container .header button{
    height: 40px;
    width: 200px;
    margin-bottom: 10px;
    background-color: #E9E6DD;
    border: none;
}